@import url("https://fonts.googleapis.com/css2?family=Caveat&family=Onest:wght@500&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

button {
    cursor: pointer;
}

// Responsive Breakpoint
// Responsive Breakpoint
$media-sm: 640px;
$media-md: 768px;
$media-lg: 1024px;
$media-xl: 1280px;

// Font Variable
$caveat: "Caveat", cursive;
$poppins: "Poppins", sans-serif;
$onest: "Onest", sans-serif;

section {
    background-color: black;
    color: white;

    nav {
        width: 100%;
        padding: 17px 22px 1px 21px;

        .navbar {
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 5px;

            .leftnav {
                width: 100%;
                @media screen and (min-width: $media-lg){
                    width: 70%;
                }
                display: flex;
                align-items: center;
                gap: 6px;

                .home {
                    flex-grow: 1;
                    padding: 3px;
                    border: 1px white solid;
                    border-radius: 20px;
    
                    button {
                        width: 100%;
                        padding: 4.7px 4px 4.7px 10px;
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        border: 1px white solid;
                        border-radius: 18px;
                        background-color: transparent;
                        color: white;
                        font-size: 20px;
    
                        i {
                            width: 24px;
                            height: 24px;
                            padding: 5px;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            font-size: 13px;
                            background-color: white;
                            color: black;
                            border-radius: 50%;
                        }
    
                    }
    
                    &:hover {
                        button {
                            background-color: white;
                            color: black;
    
                            i {
                                background-color: black;
                                color: white;
                            }
                        }
                    }
                }
    
                .porca {
                    flex-grow: 2;
                    padding: 2.5px 3px 3px 3px;
                    display: none;
                    justify-content: center;
                    align-items: center;
                    gap: 2px;
                    background-color: #262626;
                    border: 1px white solid;
                    border-radius: 20px;
                    

                    @media screen and (min-width: $media-lg) {
                        display: flex;
                    }  
    
                    .kuning {
                        width: 50%;
                        padding: 3px 3px 3px 10px;
                        border-radius: 18px;
                        border: 1px white solid;
                        background-color: #262626;
                        color: white;
                        font-size: 20px;
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
    
                        p {
                            padding: 2px 18.5px;
                            background-color: #dfb921;
                            color: black;
                            border-radius: 15px;
                        }
    
                        &:hover {
                            background-color: white;
                            color: black;
                        }
                    }
    
                    .merah {
                        width: 50%;
                        padding: 3px 3px 3px 10px;
                        border-radius: 17px;
                        border: 1px white solid;
                        background-color: #262626;
                        color: white;
                        font-size: 20px;
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
    
                        p {
                            padding: 2px 20px;
                            background-color: #c54444;
                            color: white;
                            border-radius: 15px;
                        }
    
                        &:hover {
                            background-color: white;
                            color: black;
                        }
                    }
                }
            }

            .rightnav {
                display: flex;
                justify-content: flex-end;
                align-items: center;

                .sosmed {
                    display: flex;
                    justify-content: flex-end;
                    display: none;

                    @media only screen and (min-width: $media-lg) {
                        display: block;
                    }

                    ul {
                        display: flex;
                        gap: 2px;
                        list-style-type: none;
    
                        li {
                            width: 41.5px;
                            aspect-ratio: 1/1;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            border: 1px white solid;
                            border-radius: 50%;
    
                            i {
                                font-size: 14px;
                            }
    
                            &:hover {
                                background-color: white;
                                color: black;
                            }
                        }
                    }
                }
    
            }

            .menu {
                display: flex;
                justify-content: flex-end;
                border: 1px white solid;
                padding: 3px;
                border-radius: 20px;

                @media screen and (min-width: $media-lg) {
                    display: none;
                }   

                button {
                    padding: 4.7px 10px 4.7px 10px;
                    border-radius: 18px;
                    border: 1px white solid;
                    background-color: transparent;
                    color: white;
                    font-size: 20px;

                    &:hover {
                        background-color: white;
                        color: black;
                    }
                }
            }
        }
    }

    main {
        width: 100%;
        padding: 17px 22px 5.5px 21px;
        font-family: 'Inter', sans-serif;

        .content1 {
            width: 100%;
            @media screen and (min-width: $media-lg){
                flex-direction: row;
                align-items: flex-end;
                
            }

            padding: 30px;
            display: flex;
            flex-direction: column-reverse;
            justify-content: space-between;
            align-items: flex-start;
            background-color: #839292;
            border-radius: 30px;

            .left {
                margin-top: 20px;
                width: 70%;
                display: flex;
                justify-content: flex-start;
                flex-direction: column;
                align-items: flex-start;

                .jnico {
                    p {
                        @media screen and (min-width: $media-lg) {
                            font-size: 95px;
                        }
                        @media screen and (min-width: $media-sm) and (max-width: $media-lg) {
                            font-size: 45px;
                        }


                        display: flex;
                        align-items: center;
                        gap: 9px;
                        font-size: 30px;
                        font-family: 'Inter', sans-serif;

                        &::after {
                            content: "";
                            display: inline-block;
                            width: 60px;
                            height: 5px;
                            margin-top: 8px;
                            right: 0;
                            position: relative;
                            background-color: white;
                        }
                    }
                }

                .art {
                    width: 70%;
                    margin-top: 15px;
                    gap: 19px;
                    flex-direction: column;
                    
                    @media screen and (min-width: $media-lg) {
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                    }

                    button {
                        @media screen and (min-width: $media-sm) {
                            width: 56%;
                            font-size: 20px;
                        }
                        width: 100%;
                        padding: 8px 11px 7.5px 11px;
                        background-color: transparent;
                        color: white;
                        border: 1px white solid;
                        border-radius: 25px;
                        font-size: 15px;
                        display: flex;
                        justify-content: space-between;
                        align-items: center;

                        i {
                            width: 25px;
                            height: 25px;
                            font-size: 15px;
                            background-color: rgba(255, 255, 255, 0.228);
                            border-radius: 50%;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                        }
                    }

                    p {
                        @media screen and (min-width: $media-lg) {
                            margin-bottom: 15px;
                        }
                        font-size: 15.2px;
                        margin-top: 15px;
                    }
                }
            }

            .right {
                width: 100%;
                @media screen and (min-width: $media-lg) {
                    width: 30%;
                    align-items: flex-end;
                    
                }
                margin-top: 47px;
                display: flex;
                justify-content: center;
                flex-direction: column;
                gap: 25.5px;

                img {
                    width: 130px;
                    aspect-ratio: 1/1;
                    border-radius: 50%;
                }

                button {
                    @media screen and (min-width: $media-lg) {
                        width: 40%;
                        
                    }
                    width: 34%;
                    padding: 5px 23px;
                    background-color: rgba(255, 255, 255, 0.228);
                    color: white;
                    border-radius: 25px;
                    border: transparent;
                    font-size: 14px;
                }
            }
        }

        .content2 {
            margin-top: 28.5px;
            padding: 0 4px;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            @media screen and (min-width: $media-lg) {
                width: 100%;
                flex-direction: row;
            }

            .buttone {
                width: 100%;
                @media screen and (min-width: $media-lg) {
                    width: 50%;
                }

                button {
                    @media screen and (min-width: $media-lg) {
                        font-size: 18.7px;
                    }
                    padding: 1px 5px;
                    margin-right: 2px;
                    background-color: transparent;
                    color: #6d6c6c;
                    border: 1px #6d6c6c solid;
                    border-radius: 18px;
                    font-size: 15px;
                }
            }

            .metro {
                @media screen and (min-width: $media-lg) {
                    width: 50%;
                    padding-left: 20px;
                    font-size: 21.9px;
                    margin-top: -0px;
                }
                width: 100%;
                padding-left: 0;
                margin-top: 20px;
                font-size: 20px;
            }
        }

        .content3 {
            @media screen and (min-width: $media-lg) {
                display: flex;
                flex-direction: row;
            }
            flex-direction: column;
            margin-top: 29.8px;
            align-items: flex-start;
            gap: 10px;

            .satu {
                @media screen and (min-width: $media-lg) {
                    width: 32.9%;
                    margin-bottom: 5px;
                }
                margin-top: 5px;
                width: 100%;
                padding: 30px;
                border: 1px #6d6c6c solid;
                border-radius: 25px;

                .late {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;

                    button {
                        @media screen and (min-width: $media-lg) {
                            font-size: 18.7px;
                        }
                        background-color: transparent;
                        color: white;
                        border: 1px white solid;
                        border-radius: 18px;
                        padding: 1.4px 7px;
                        font-size: 15px;
                    }

                    i {
                        width: 25px;
                        aspect-ratio: 1/1;
                        background-color: white;
                        color: black;
                        border-radius: 50%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }
                }

                img {
                    margin-top: 14.5px;
                    width: 100%;
                }

                .design {
                    @media screen and (min-width: $media-lg) {
                        font-size: 20.7px;
                    }
                    margin-top: 9.5px;
                    font-size: 17px;
                    display: flex;
                    justify-content: space-between;
                    align-items: flex-end;
                    border-bottom: 1px white solid;
                    padding-bottom: 14.5px;

                    .gene {
                        @media screen and (min-width: $media-lg) {
                            width: 20px;
                        }
                        width: 60%;
                        padding-left: 2px;
                    }

                    .view {
                        margin-right: 9px;
                    }
                }

                .test {
                    margin-top: 20.5px;
                    font-size: 15.6px;
                    color: #c7c7c7;

                    u {
                        color: white;
                        font-weight: bold;
                    }
                }
            }
        }
    }

    footer {
        @media screen and (min-width: $media-lg) {
            padding-top: 0;
        }
        padding: 0 17px 17px 17.5px;
        padding-top: 10px;
        width: 100%;
        font-family: 'Inter', sans-serif;

        .decem {
            padding-bottom: 15.4px;
            display: flex;
            justify-content: flex-end;
            border-bottom: 2px white solid;

            button {
                background-color: #151d1b;
                color: white;
                border: 0 #151d1b solid;
                border-radius: 18px;
                font-size: 12px;
                padding: 0 13px;
            }
        }

        .list {
            padding: 28.7px 0 18.7px 0;
            @media screen and (min-width: $media-lg) {
                display: flex;
                gap: 26.2rem;
            }
            display: flex;
            justify-content: space-between;
            gap: 0;
            font-size: 12.1px;

            .allget {
                display: flex;
                flex-direction: column;
                align-items: flex-end;
                @media screen and (min-width: $media-lg) {
                    display: flex;
                    flex-direction: row;
                }

                .coop {
                    @media screen and (min-width: $media-lg) {
                        display: flex;
                    }
                    display: none;
                    margin-left: 16rem;
                    gap: 1.73rem;
                }

                .get {
                    display: flex;
                    margin-left: 3.219rem;
                    margin-top: 10px;
                    gap: 0.4rem;

                    .chev {
                        display: flex;
                        justify-content: center;
                        align-items: center;

                        div {
                            width: 41px;
                            height: 2px;
                            background-color: white;
                            position: relative;
                            left: 7px;
                        }

                        i {
                            font-size: 10px;
                        }
                    }
                }
            }
        }
    }
}

