@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Exo+2:wght@300;400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

section {
    background-color: #f4e6d8;

    .container1 {
        width: 100%;
        height: 100vh;

        .nav {
            padding: 20px 80px 20px 50px;
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;

            .sofa {
                font-family: 'Dancing Script', cursive;
                font-weight: bold;
                font-size: 20px;
                color: #716255;
            }

            .bar {
                display: flex;
                align-items: center;
                gap: 50px;
                
                a {
                    font-family: 'Exo 2', sans-serif;
                    font-size: 16px;
                    color: #716255;
                    text-decoration: none;

                    &:hover {
                        font-weight: bold;
                    }
                }
                
            }

            .ikon {
                display: flex;
                align-items: center;
                gap: 20px;
                color: #716255;
            }
        }

        .main1 {
            width: 100%;
            background-size: cover;
            font-family: 'Exo 2', sans-serif;
            color: #716255;
            position: relative;
            
            img {
                width: 90%;
                height: 110vh;
                margin-left: 10%;
            }

            .text {
                margin-top: 68px;
                padding-left: 50px;
                position: absolute;
                top: 0;

                .titel {
                    font-size: 50px;
                    
                }

                .desc {
                    margin-top: 20px;
                    width: 47%;
                    font-size: 20px;
                }

                .buton {
                    margin-top: 40px;
                    display: flex;
                    align-items: center;
                    gap: 10px;

                    button {
                        padding: 12px 20px;
                        border: none;
                        border-radius: 5px;

                        a {
                            text-decoration: none;
                            color: black;
                            font-size: 11px;
                            font-weight: bold;
                            font-family: 'Exo 2', sans-serif;
                        }

                        &:nth-child(1) {
                            background-color: #8da7c3;
                        }

                        &:nth-child(2) {
                            background-color: #dbaf79;
                        }

                    }
                }
            }
            
        }
    }

    .container2 {
        width: 100%;
        margin-top: 80px;
        padding: 50px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-family: 'Exo 2', sans-serif;
        color: #716255;

        .titel2 {
            font-size: 30px;
        }

        .deals {
            margin-top: 40px;
            padding: 18px 25px;
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            background-color: #efdecc;
            border-radius: 5px;

            .isi {
                width: 19%;

                i {
                    font-size: 43px;
                }

                h2 {
                    margin-top: 20px;
                    font-size: 19.3px;
                }

                p {
                    margin-top: 18px;
                    font-size: 19px;
                }
            }
        }
    }

    .container3 {
        width: 100%;
        height: 180vh;
        padding: 20px 50px;
        font-family: 'Exo 2', sans-serif;
        color: #716255;
        display: flex;
        flex-direction: column;
        align-items: center;

        .titel3 {
            font-size: 30px;
        }

        .content3 {
            margin: 100px 40px 40px 40px;
            padding: 40px 50px;
            background-color: #f0dbc5;
            border-radius: 15px;

            .chair1 {
                display: flex;
                justify-content: space-between;

                .desc3 {
                    width: 44%;
                    font-size: 19px;

                    button {
                        margin-top: 20px;
                        margin-left: 13px;
                        padding: 10px 22px;
                        border: none;
                        border-radius: 5px;
                        font-family: 'Exo 2', sans-serif;
                        background-color: #8da7c3;
                    }
                }

                .imagechair {
                    background-color: #d9ae84;
                    position: relative;
                    width: 37%;
                    height: 80vh;
                    margin-right: -90px;
                    margin-top: -130px;
                    border-bottom-left-radius: 15px;
                    border-bottom-right-radius: 15px;
                    border-top-right-radius: 180px;
                    border-top-left-radius: 180px;

                    img {
                        position: absolute;
                        bottom: 0;
                        width: 90%;
                        margin-left: -100px;
                    }
                    
                }
            }

            .chair2 {
                display: flex;
                justify-content: space-between;
                align-items: flex-end;

                .imagechair {
                    background-color: #d9ae84;
                    position: relative;
                    width: 37%;
                    height: 80vh;
                    margin-left: -90px;
                    margin-bottom: -100px;
                    border-bottom-left-radius: 15px;
                    border-bottom-right-radius: 15px;
                    border-top-right-radius: 180px;
                    border-top-left-radius: 180px;

                    img {
                        position: absolute;
                        bottom: 0;
                        margin-bottom: 70px;
                        right: 0;
                        width: 90%;
                        margin-right: -100px;
                    }
                    
                }

                .desc3 {
                    width: 44%;
                    font-size: 19px;
                    margin-bottom: 50px;

                    button {
                        margin-top: 20px;
                        padding: 10px 22px;
                        border: none;
                        border-radius: 5px;
                        font-family: 'Exo 2', sans-serif;
                        background-color: #dbaf79;
                    }
                }
            }
        }
    }

    .container4 {
        width: 100%;
        padding: 10px 50px 30px 50px;
        font-family: 'Exo 2', sans-serif;
        color: #716255;
        display: flex;
        flex-direction: column;
        align-items: center;

        .titel4 {
            font-size: 30px;
        }

        .chairimg {
            margin-top: 90px;
            display: flex;
            justify-content: space-between;
            align-items: center;

            .imgkecil {
                width: 30%;
                display: flex;
                margin-bottom: 80px;

                img {
                    width: 75%;
                }

                &:nth-child(5) {
                    display: flex;
                    justify-content: flex-end;
                }
            }

            .btn {
                margin-bottom: 90px;

                button {
                    width: 45px;
                    aspect-ratio: 1/1;
                    background-color: #d3b28c;
                    border-radius: 50%;
                    border: none;
    
                    i {
                        font-size: 14px;
                    }
                }
            }

            .imgbesar {
                width: 40%;
                display: flex;
                justify-content: center;
                align-items: center;

                img {
                    width: 90%;
                }
            }
        }
    }

    .container5 {
        width: 100%;
        padding: 40px 50px 30px 50px;
        font-family: 'Exo 2', sans-serif;
        color: #716255;
        display: flex;
        flex-direction: column;
        align-items: center;

        .titel5 {
            font-size: 30px;
        }

        .btnbar {
            margin-top: 50px;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 15px;

            button {
                padding: 10px 45px;
                border: none;
                border-radius: 15px;
                font-family: 'Exo 2', sans-serif;
                background-color: #eacab2;

                &:hover {
                    background-color: #ba9a76;
                }
            }
        }

        .cardchair {
            width: 100%;
            margin-top: 50px;
            display: flex;
            flex-direction: column;
            gap: 20px;

            .cardbar {
                display: flex;
                justify-content: space-between;
                gap: 20px;

                .card {
                    width: 25%;

                    .imgcontent {
                        width: 100%;
                        height: 35vh;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        background-color: #ead8c8;
                        border-top-left-radius: 15px;
                        border-top-right-radius: 15px;

                        img {
                            width: 40%;
                        }
                    }

                    .descontent {
                        padding: 12px;
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        background-color: #e0bf9d;
                        border-bottom-left-radius: 15px;
                        border-bottom-right-radius: 15px;

                        .titelc {
                            font-size: 14px;
                        }

                        .ikonplus {
                            width: 25px;
                            aspect-ratio: 1/1;
                            border: none;
                            border-radius: 50%;
                            background-color: #716255;
                            color: #eacab2;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                        }
                    }
                }
            }
        }
    }

    .container6 {
        width: 100%;
        padding: 65px 50px 100px 50px;
        font-family: 'Exo 2', sans-serif;
        color: #716255;
        display: flex;
        align-items: center;

        .imgenam {
            width: 40%;
            height: 75vh;
            border-radius: 50%;
            background-color: #d5b598;

            img {
                width: 100%;
            }
        }

        .descenam {
            width: 60%;
            padding: 60px 60px 30px 90px;

            .titel6 {
                width: 70%;
                font-size: 30px;
            }

            .desc6 {
                width: 87%;
                margin-top: 30px;
                font-size: 20px;
            }

            .btn6 {
                margin-top: 30px;

                button {
                    padding: 10px 22px;
                    border: none;
                    border-radius: 5px;
                    font-family: 'Exo 2', sans-serif;
                    background-color: #8da7c3;
                }
            }
        }
    }

    .footer {
        width: 100%;
        padding: 50px 80px;
        font-family: 'Exo 2', sans-serif;
        color: #716255;
        background-color: #d7ad82;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .isifooter {
            h3 {
                font-size: 25px;
            }

            ul {
                margin-top: 5px;
                display: flex;
                flex-direction: column;
                gap: 5px;

                li {
                    list-style: none;
                    font-size: 19px;

                    a {
                        text-decoration: none;
                        color: #716255;

                        i {
                            margin-right: 7px;
                        }
                    }
                }
            }
        }

    }
}